In [14]:
import streamlit as st
import pandas as pd
import plotly.express as px

In [24]:
st.set_page_config(page_title = 'Test',
                    page_icon =':tired_face:',
                    layout = 'wide'
)

df = pd.read_excel(
    io = 'DataMW.xlsx',
    engine = 'openpyxl',
    sheet_name = 'MissWorld',
    usecols = 'A:J',
    nrows=1000
)

In [25]:
print(df)

       ID  Year of birth  Height  Nationality  Continents  Measure R1  \
0       1           2003     179          109           1          89
1       2           2003     166          163           1          84
2       3           1994     162           95           3          89
3       4           1998     173          185           5          85
4       5           1995     163           50           5          85
..    ...            ...     ...          ...         ...         ...
995   996           1994     167           80           4          86
996   997           1996     173          146           4          84
997   998           2003     173          147           2          83
998   999           2002     166           54           2          82
999  1000           2004     168           21           2          84

     Measure R2  Measure R3  Count React  Redemption points
0            57          95         1516            15160.0
1            63          95         1583            15830.0
2            54          94         1148            11480.0
3            57          91         1212            12120.0
4            63          94          762             7620.0
..          ...         ...          ...                ...
995          65          92         1856            18560.0
996          64          91          754             7540.0
997          57          91          935             9350.0
998          64          95         1302            13020.0
999          64          90         1813                NaN

[1000 rows x 10 columns]